{% extends 'main/main.html' %}

{% block title %}
    <title>Квизы</title>
{% endblock title %}
{% load static %}

{% block content %}
	<section class="main-section paddind" id="Tours">
		<!--main-section-start-->
		<div class="container">


		</div>

		<div class="toursContainer wow fadeInUp delay-04s">

			{% for post in quiz %}
			{% if post.quizzes == "history"  %}
			<div class="quizzes-box history">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/tfvjpeCsLzM?si=CLbynM7JCfG9Kr1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<h3>{{ post.name }}</h3>
				<ul class="quizzes-nav wow fadeIn delay-02s">
					<li><a href="{{ tour.get_absolute_url }}" class="current">Подробнее</a></li>
				</ul>
			</div>

			{% elif post.countries == "norway"  %}
				<div class="quizzes norway">
				<a href="{{ post.img.url }}"><img src="{{ post.img.url }}" alt=""></a>
				<h3>{{ post.name }}</h3>
				</div>
				<ul class="quizzes wow fadeIn delay-02s">
					<li><a href="{% url 'tour_detail'%}" class="current">Подробнее</a></li>
				</ul>

			{% elif post.quizzes == "music" %}
			<div class="quizzes music">
				<a href="img/music_quiz.jpg"><img src="{{ post.img.url }}" alt=""></a>
				<h3>{{ post.name }}</h3>
				<p>{{ post.price }}</p>
			</div>

			{% else %}
				<div class="quizzes russia history">
					<a href="{{ post.img.url }}"><img src="{{ post.img.url }}" alt=""></a>
					<h3>{{ post.name }}</h3>
				</div>
				<ul class="quizzes wow fadeIn delay-02s">
					<li><a href="{% url 'quiz_detail'%}" class="current">Подробнее</a></li>
				</ul>
		</div>

		{% endif %}
		{% endfor %}
	</section>
	<!--main-section-end-->
{% endblock content %}