{% extends 'main/main.html' %}

{% block title %}
    <title>{{ post.name }}</title>
{% endblock title %}
{% load static %}

{% block content %}

<section class="main-section alabaster">
		<!--main-section alabaster-start-->
    {% for post in tour %}
    {% if post.countries == "norway"  %}
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="{% static 'img/quiz.jpg' %}" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>{{ post.name }}</h2>
					<div class="featured-box">
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3></h3>
							<p>{{ post.description }}</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3></h3>
							<p>{{ post.date }}</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3></h3>
							<p>Цена: {{ post.price }} руб.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
{% endfor post in tour %}
<div id="myModalRu" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<h3>{{ post.name }}</h3>
		<p>{{ post.description }}</p>
		<p>{{ post.price }} руб.</p>
		<form id="booking-formRu">
			<input type="text" placeholder="Ваше имя" required>
			<input type="email" placeholder="Ваш email" required>
			<input type="phone" placeholder="Ваш телефон" required>
			<input type="pasport" placeholder="Ваш паспорт" required>
			<input id="card-element" placeholder="Введите данные вашей карты">
			<p></p>
			<button type="submit">Оплатить</button>
		</form>
	</div>
</div>
{% endblock content %}

